.container {
    background-color: #fff;
    width: 70%;
    height: auto;
    margin: auto;
    padding: 0;
    position: fixed;
    top: 10%;
    left: 15%;
    right: 50%;
    
    z-index: 200;

    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}