.rmsc {
  --rmsc-main: none !important;
  --rmsc-hover: #E5F6FF !important;
  --rmsc-selected: #E5F6FF !important;
  --rmsc-border: none !important;
  --rmsc-gray: #aaa;
  --rmsc-bg: #fff;
  --rmsc-p: 10px; /* Spacing */
  --rmsc-radius: 4px; /* Radius */
  --rmsc-h: 28px !important; /* Height */
  .dropdown-heading
  {
    padding: 0 !important;
    cursor: pointer !important;
    .dropdown-heading-value 
    {
       width: 200px;
       color: #333333;
       line-height: 1.75rem;
    }
  }
}
