@import './normalizer.css';

*{
    --mpa-navy:#151371;
    --mpa-pink:#FF00B8;
    --mpa-yellow:#FFC700;
}

.careers {
    padding-top:80px;
    background:linear-gradient(to right, var(--mpa-pink), var(--mpa-yellow));
    margin:80px 0;
}