.saved-jobsMain {
    padding:24px;
    position:relative;
}

.saved-jobsMain-search-heading {
    color:#333333;
    font-size:24px;
    font-weight:bold;
}

.saved-jobsMain-search-links {
    margin:5px 0px;
}

.saved-jobsMain-search-links-link {
    color:#333333 !important;
    margin-right:20px;
}
