@import "~tailwindcss/base";
  
@import "~tailwindcss/components"; 
 
@import "~tailwindcss/utilities";

::-webkit-scrollbar {
    width: 7px;
  }
  ::-webkit-scrollbar-track {
    border: none;
  }
  ::-webkit-scrollbar-thumb {
    background-color:  #151565;
    border-radius: 0px;
  }
@media only screen and  (min-width: 500px) { 
    .burger{
        display: block;
    }
  }

  @media only screen and  (min-width: 1200px) { 
  .burger{
      display: none;
  }
}
.css-yk16xz-control {
  border-color: #fff;
}
